<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<style>
body {
  margin: 0;
  min-width: 250px;
}

.header{
 background-color:black;
 color:white;
 min-height:40px;
 padding-top:1px;
 text-align:center;
}

textarea{
  height:100px !important;
}
</style>
</head>

<body>
<div class="header">
    <header>
      <h1>Todo work list</h1>
    </header>
</div>

<main>
  <div class="container">
    <div>
      <form method='POST' id='imputForm'>
        <div class="form-group">
          <label for="workHeading">Work heading</label>
          <input type="text" class="form-control" id="txtWorkHeading" placeholder="Enter Work Heading">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <textarea class="form-control" id="txtDescription"  placeholder="Enter Description"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Target Date</label>
          <input type="date" class="form-control" id="txtDate"  placeholder="Enter Target Date">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="txtEmail"  placeholder="Enter email">
        </div>
        <div  class="form-group">
            <button type="button" class="btn btn-primary" onclick="apisubmit()">Submit</button>
        </div>
      </form>
    </div>
    <div id="tableData">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Task Id</th>
            <th scope="col">Task Name</th>
            <th scope="col">Task Discription</th>
            <th scope="col">Email</th>
            <th scope="col">IsWorkCompleted</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <td>{{i.id}} </td>
            <td>{{i.name}} </td>
            <td>{{i.description}} </td>
            <td>{{i.email}} </td>
            <td>{{i.isWorkDone}} </td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

</main>
<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  apisubmit= function(){
    $.ajax({
      type: 'post',
      url: "{% url 'todoWork:homepage' %}",
      data:{
          "name": $("#txtWorkHeading").val().trim(),
          "description": $("#txtDescription").val().trim(),
          "enddate": $("#txtDate").val().trim(),
          "email": $("#txtEmail").val().trim(),
          "csrfmiddlewaretoken": '{{ csrf_token }}'
      },
      success:function(data){
          html = '<span>'+data.name+'</span> | <span>'+data.description+'</span> | <span>'+data.email+'</span> | <span>'+data.isWorkDone+'</span>'
          $("#listData").append(html)
      }
  })
  }
</script>
</body>
</html>